* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    display: inline-block;
    background-color: pink;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}